---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="{{ "/webawesome/dist-cdn/styles/webawesome.css" | url }}" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "downflow": "/downflow/exports/application.js",
          "downflow/": "/downflow/"
        }
      }
    </script>


    <script type="module" src="{{ "/webawesome/dist-cdn/webawesome.loader.js" | url }}"></script>
    <script type="module" src="{{ "/assets/js/index.js" | url }}"></script>
  </head>
  <body>
    <wa-page>
      <main>
        {{ content | safe }}
      </main>
    </wa-page>
  </body>
</html>
